.restaurants{
    margin: 30px 4px;
}

.restaurants .heading{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.restaurants-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.restaurant-card{
    background-color: rgb(248, 248, 248);
    padding: 15px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.restaurant-card:hover{
    box-shadow: 5px 10px 10px rgb(219, 219, 219);
    transition: all .3s ease-in-out;
}

.restaurant-card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.restaurant-card p{
    margin-bottom: 5px;
    color: rgb(48, 48, 48);
}

.restaurant-card .restaurant-desc{
    margin-bottom: 15px;
}

.restaurant-card .book{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.restaurant-card .restaurant-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 10px;
}

.restaurant-card .restaurant-title img{
    margin-top: 10px;
    width: 90px;
    height: 15px;
    margin-right: 5px;
}

.restaurant-card .restaurant-title b{
    font-size: 25px;
    font-weight: 500 !important;
}

.restaurant-card p{
    color: rgb(112, 112, 112);
}

.restaurant-card .book .restaurant-category{
    opacity: 0.6;
    font-weight: 500;
    margin-top: 15px;
    margin-right: 5px;
}

.restaurant-card .book a{
    background-color: rgb(47, 47, 47);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}

@media (max-width: 1200px){
    .restaurants .heading{
        font-size: 20px;
        margin: 20px 2px;
    }
    .restaurants-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        row-gap: 25px;
    }
    .restaurant-card{
        padding: 10px;
        border-radius: 5px;
    }
    .restaurant-card .restaurant-title{
        margin-top: 0px;
        margin-bottom: 6px;
    }
    .restaurant-card .restaurant-title b{
        font-size: 18px;
    }
    .restaurant-card .restaurant-title img{
        width: 70px;
        height: 12px;
    }
    .restaurant-card p{
        font-size: 13px;
        margin-bottom: 2px;
    }
    .restaurant-card .book .restaurant-category{
        font-size: 14px;
    }
    .restaurant-card .book{
        margin-top: 15px;
    }
    .restaurant-card .book a{
        height: 30px;
        margin-bottom: 35px;
    }
}

@media (max-width: 750px) {
    .restaurants .heading{
        font-size: 18px;
    }
    .restaurants-list{
        grid-template-columns: 1fr;
    }
}